#page {
  width: 1020px;
  margin: 0 auto;
  background-color:rgb(255,255,255); /* 4 ie */
  background-color:rgba(255,255,255,.9);
}
@media only screen and (max-width: 800px) {
  #page {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #page {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

body, #page {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media only screen and (max-width: 800px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#main {
  position: relative;
}
@media only screen and (max-width: 800px) {
  #main {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    padding-bottom: 0px;
    position: static;
  }
}

#content {
  float: left;
  width: 100%;
  margin-bottom: auto;
}

.sidebar {
  float: left;
}

#sidebar-second {
  float: right;
}
@media only screen and (max-width: 800px) {
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0;
  }
}

#footer {
  height: auto;
  width: 1020px;
}
@media only screen and (max-width: 800px) {
  #footer {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #footer {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  #content #content-inner.center {
    margin: 0;
  }
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.two-sidebars .center,
.sidebar-first .center {
  margin-left: 23.75%;
}

#sidebar-first {
  width: 23.75%;
  margin-right: -190px;
}
@media only screen and (max-width: 480px) {
  #sidebar-first {
    margin-right: 0;
    width: 100%;
  }
}

.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

#sidebar-second {
  width: 200px;
}
@media only screen and (max-width: 480px) {
  #sidebar-second {
    margin-right: 0;
    width: 100%;
  }
}

.inner {
  padding: 10px;
  padding: 1rem;
}

#navigation {
  margin-left: 0;
  padding: 10px;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #navigation {
    clear: both;
    padding: 5px;
    padding: 0.5rem;
  }
}

a {
  color: #1a45a8;
  text-decoration: none;
}
a:visited {
  color: #1a45a8;
}
a:hover {
  color: #1a45a8;
}
a:focus {
  color: #1a45a8;
  outline: thin dotted;
}
a:hover, a:active {
  color: #1a45a8;
  text-decoration: underline;
  outline: 0;
}

#footer p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: black;
}
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1em;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

@media only screen and (max-width: 800px) {
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  img {
    border: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}


* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

#site-name {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

div.view div.views-admin-links {
  width: auto;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, #navigation {
  *zoom: 1;
}
.clearfix:before, #navigation:before {
  content: "";
  display: table;
}
.clearfix:after, #navigation:after {
  content: "";
  display: table;
  clear: both;
}

.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

.floatleft, .fleft, .floatl {
  display: inline;
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  display: inline;
  float: right;
  margin: 0 0 5px 10px;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #777;
}

#edit-delete {
  color: #c00;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #aaccee;
}

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #222222;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

td {
  vertical-align: top;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

#header,
#footer {
  padding: 10px;
  padding: 1rem;
}

#header {
  background: white;
}

#sidebar-first {
  background: white;
}

#sidebar-second {
  background: white;
}

#navigation {
  background: white;
}

#footer {
  background: white;
}

/********************
*  Print
********************/



@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  #page {
    width: 100%;
  }

  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  a:hover, a:active, a:link, a:visited {
    color: black;
  }

  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
    line-height: 16.5px;
    font-size: 1.1rem;
    line-height: 1.65rem;
    font-weight: normal;
  }
}

/* Custom Styles */
body {
  font: 13px/1.4em 'Raleway', sans-serif;
  /*font: 12px/1.4em Verdana, Geneva, sans-serif;*/
  background: #fff url('../images/bg.jpg') top center no-repeat fixed;
}
/* Header */
#header {
  background: #1a46a8 url('../images/header-bg.png') top left repeat-x;
  height: 177px;
  color: #fff;
  padding: 4em 4em;
}
#header #logo {
  float: left;
  width: 324px;
  height: 119px;
  margin-left: -.4em;
}
#header #block-block-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  float: right;
  width: 25em;
  line-height: 1.5em;
  margin: 1em 0 0 0;
}

#main {
  /* TODO: FIX THIS */
}

/* Footer */
#footer {
  padding-left: 6em;
  padding-right: 6em;
}
#footer {
  background: #000;
  color: #fff;
  font-size: 10px;
}

/* Navigation */
#navigation {
  display: block;
  clear: both;
  background: rgba(0,0,0);
  background: rgba(0,0,0,.8);
  padding: 0 4em;
  height: 36px;
}
#navigation ul.nice-menu {
  margin-left: 8px;
  float: left;
}
#navigation ul.nice-menu li {
  background: none;
  border: none;
}
#navigation ul.nice-menu li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px .8em;
}
#navigation ul.nice-menu li.active-trail,
#navigation ul.nice-menu li a.active,
#navigation ul.nice-menu li a:hover {
  color: #1a45a8;
}
#navigation ul.nice-menu ul {
  border: none;
  background: rgba(0,0,0,.8);
  text-align: left;
  margin: 14px 0 0 0;
  padding: 0 .9em .2em .9em;
}
#navigation ul.nice-menu ul li {
  width: auto;
  padding: 0 0 8px 0;
}
#navigation ul.nice-menu ul li a {
  font-size: 12px;
  padding: 0 0 0 0;
}

/* Global Styles */
h1.title {
  color: #1a45a8;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
}
#content {
  padding: .8em 4.6em;
}

/* Page */
.node-type-page .field-name-field-page-image img {
  float: left;
  margin: 0 16px 16px 0;
  width: auto;
}
#content h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 0 0 2px 0;
}

.node-type-home h1.title {
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}
.node-type-home #page {
  background-color:rgb(0,0,0); /* 4 ie */
  background-color:rgba(0,0,0, .7);
}


/* Endorsements */
.field-name-field-endorsement-body {
  margin-bottom: 1em;
}
.field-name-field-endorsement-by {
  font-weight: bold;
}

/* Portfolio Pages and Gallery */
.page-portfolio #page {
  background-color:rgb(0,0,0); /* 4 ie */
  background-color:rgba(0,0,0, .7);
}
.page-node-2 #page,
.node-type-portfolio-items #page {
  background-color:rgba(0,0,0,0.8);
  background-image: none;
}

/* Porfolio Item */
.node-portfolio-items {
  position: relative;
  border: 1px solid #fff;
  margin-bottom: 3em;
  display: block;
  clear: both;
  background-color:rgba(0,0,0,0.3);
}
.page-node-2 h2.block-title,
.page-node-2 h1,
.page-portfolio h1,
.node-type-portfolio-items h1 {
  color: #fff;
}
.node-portfolio-items ul.nav li,
.node-portfolio-items ul.nav {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.node-portfolio-items ul.nav {
  float: right;
  width: 77px;
}
.node-portfolio-items ul.nav li {
  margin-bottom: .75em;
  opacity: .4;
}
.node-portfolio-items ul.nav li.last {
  margin-bottom: 0;
}
.node-portfolio-items ul.nav li.activeSlide {
  opacity: 1;
}
.node-portfolio-items ul.nav li img {
  -webkit-box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .4);
  box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .4);
}
#slideshow .slide-image {
  cursor: pointer;
  -webkit-box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .4);
  box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .4);
}
#slideshow .slide-image {
  margin: 0 0 -5px 0;
  padding: 0;
}

/* left */
.node-portfolio-items .left {
  float: left;
  margin-right: 2.2em;
  width: 560px;
  padding: 40px;
  background-color:rgba(255,255,255,0.7);
}

/* right */
.node-portfolio-items .right {
  color: #fff;
  padding: 1em 2em;
}
.node-portfolio-items .right h2 {
  color: #fff;
  padding: 1em 0 .5em 0;
  text-transform: none;
}
.node-portfolio-items .right .field-name-field-portfolio-item-description {
  padding: 0 0 1em 0;
}
.node-portfolio-items .right .lightbox-btn {
  float: left;
}
.node-portfolio-items .right .lightbox-btn a {
  font-weight: bold;
}
.node-portfolio-items .right .lightbox_open {
  background: transparent url('../images/fullscreen-icon.png') top left no-repeat;
  height: 22px;
  padding-left: 28px;
  line-height: 22px;
  float: left;
}
.node-portfolio-items .right .edit-btn {
  float: right;
  width: 100px;
  line-height: 22px;
}
.node-portfolio-items .right .edit-btn a {
  font-weight: bold;
}

/* Portfolio Landing Page */
.page-node-2 h2.block-title {
  padding: 1em 0;
}
.page-node-2 h2.block-title a {
  text-decoration: underline;
  color: #fff;
}
.page-node-2 .field-type-text-with-summary {
  color: #fff;
}

/* Webform */
.webform-client-form label {
  margin-bottom: .4em;
}
.webform-client-form .form-text {
  width: 320px;
  border: 1px solid #ccc;
  padding: 3px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.form-textarea-wrapper textarea {
  padding: 6px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 320px;
}
.form-textarea-wrapper .grippie {
  display: none;
}

/* Contact Us */
#webform-client-form-7 #webform-component-reason,
#webform-client-form-7 #webform-component-special {
  display: none;
}

.node-type-webform .field {
  width: 45%;
  float: left;
}
.node-type-webform form {
  width: 45%;
  float: right;
}

/* Home */
.node-type-home #slideshow {
  float: left;
  width: 627px;
}
.node-type-home #content {
  padding: 0.8em 1.2em;
}
.node-type-home .home-container {
  position: relative;
}
.jcarousel-clip {
  overflow: hidden;
}
.jcarousel-container {
  width: 627px;
  padding: 0;
  border: 1px solid #fff;
}
.jcarousel-item {
  width: 627px;
}
.jcarousel-control {
  width: 627px;
  background: #000;
  text-align: right;
}
.jcarousel-control a {
  line-height: 32px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 10px;
  margin: 0;
}
.jcarousel-control a.active,
.jcarousel-control a:hover {
  background: #fff;
  color: #000;
}

.slide-text-container {
  position: relative;
  color: #fff;
  margin-top: -100px;
  width: 627px;
  height: 100px;
  overflow: hidden;
  background: transparent url('../images/slideshow-text-bg.png') top center no-repeat;
  z-index: 9999;

}
.slide-text-container .slide-title {
  font-size: 12px;
  width: 388px;
  margin: 10px auto 6px auto;
}
.slide-text-container .slide-desc {
  font-size: 11px;
  width: 388px;
  margin: 0 auto;
  line-height: 1.3em;
}
.slide-text-container .slide-desc p {
  margin: 0;
  padding: 0;
}
.field-name-field-testimonial {
  position: absolute;
  top: 40px;
  right: 0;
  width: 345px;
  height: 176px;
  color: #fff;
  font-size: 11px;
  line-height: 1.4em;
  background: transparent url('../images/testimonial-bg.png') top left no-repeat;
}
.field-name-field-testimonial .field-items {
  padding: 1.2em 1em;
}
.field-name-field-testimonial p {
  margin: 0;

}

/* system tabs overwrite */

ul.tabs.primary {
  width: auto;
  height: auto;
  line-height: 26px;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0;
  white-space: nowrap;
  border-collapse: separate;
  border-bottom: 2px dotted #ccc;
  margin-bottom: 12px;
}
ul.tabs.primary li {
  float: left;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d4d4d4;
  margin: 0 0.5em 0.5em 0;
}
ul.tabs.primary li a {
  color: #000000;
  float: left;
  height: 26px;
  line-height: 26px;
  padding: 0 1em;
  text-decoration: none;
  border: none;
  margin: 0;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(221, 221, 221)));
  background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(221, 221, 221));
  background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(221, 221, 221));
  background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(221, 221, 221));
  background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(221, 221, 221));
  background-image: linear-gradient(top, rgb(253, 253, 253), rgb(221, 221, 221));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fdfdfd', EndColorStr='#dddddd');
}
ul.tabs.primary li.active a:hover,
ul.tabs.primary li.active a {
  cursor: default;
  color: #fff;
  border: none;
  background-color: #1A45A8;
  background-image: none;
}
ul.tabs.primary li a:hover {
  border: none;
  color: #1A45A8;
  text-decoration: none;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(243, 243, 243)));
  background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(243, 243, 243));
  background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(243, 243, 243));
  background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(243, 243, 243));
  background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(243, 243, 243));
  background-image: linear-gradient(top, rgb(253, 253, 253), rgb(243, 243, 243));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fdfdfd', EndColorStr='#f3f3f3');
}

/* Pagination */
.pager li.pager-current,
.pager a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.pager li.pager-current {
  text-decoration: underline;
}